<%= form_with(model: genre, local: true, html: {class: "container has-background-white column is-10 mt-4 box box-radius"}) do |form| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
        <% genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field columns is-vcentered m-0">
    <%= form.label :name, class: "label column is-2 mb-0" %>
    <%= form.text_field :name, class: "input column is-10 is-fullwidth" %>
  </div>

  <div class="actions">
    <%= form.submit(class: "button is-rounded is-fullwidth is-link") %>
  </div>
<% end %>
