<section class="hero is-small has-background-white">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="has-text-weight-bold title"><%= t('.title', resource: resource.model_name.human) %></h1>
    </div>
  </div>
</section>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "container has-background-white column is-10 mt-4 box box-radius" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field columns is-vcentered m-0">
    <%= f.label :name, class: "label column is-2 mb-0" %>
    <%= f.text_field :name, class: "input column is-10 is-fullwidth" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= f.label :email, class: "label column is-2 mb-0" %>
    <%= f.email_field :email, class: "input column is-10 is-fullwidth", autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field columns is-vcentered m-0">
    <%= f.label :password, class: "label column is-2 mb-0" %>
    <%= f.password_field :password, class: "input column is-10 is-fullwidth", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= f.label :password_confirmation, class: "label column is-2 mb-0" %>
    <%= f.password_field :password_confirmation, class: "input column is-10 is-fullwidth", autocomplete: "new-password" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= f.label :current_password, class: "label column is-2 mb-0" %>
    <%= f.password_field :current_password, class: "input column is-10 is-fullwidth", autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.update'), class: "button is-rounded is-fullwidth is-link" %>
  </div>
<% end %>

<div class="has-text-centered container column is-8">
  <%= button_to t('.cancel_my_account'), registration_path(resource_name), class: "button is-rounded is-danger is-fullwidth", data: { confirm: t('.are_you_sure') }, method: :delete %></p><br />
  <%= link_to t('devise.shared.links.back'), :back, class: "button is-rounded is-link is-light is-fullwidth" %>
</div>