<section class="hero is-small has-background-white">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="has-text-weight-bold title"><%= t('.sign_up') %></h1>
    </div>
  </div>
</section>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "container has-background-white column is-10 mt-4 box box-radius" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field columns is-vcentered m-0">
    <%= f.label :name, class: "label column is-2 mb-0" %>
    <%= f.text_field :name, class: "input column is-10 is-fullwidth", autofocus: true, autocomplete: "name", :placeholder => "田中太郎" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= f.label :email, class: "label column is-2 mb-0" %>
    <%= f.email_field :email, class: "input column is-10 is-fullwidth", autofocus: true, autocomplete: "email", :placeholder => "tanaka@email.com" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= f.label :password, class: "label column is-2 mb-0" %>
    <%= f.password_field :password, class: "input column is-10 is-fullwidth", autocomplete: "new-password", :placeholder => "tarotanaka" %>
  </div>

  <div class="field columns is-vcetered m-0">
    <%= f.label :password_confirmation, class: "label column is-2 mb-0" %>
    <%= f.password_field :password_confirmation, class: "input column is-10 is-fullwidth", autocomplete: "new-password", :placeholder => "tarotanaka" %>
  </div>

  <%= f.hidden_field :admin, value: false %>

  <div class="actions">
    <%= f.submit t('.sign_up'), class: "button is-link is-rounded is-fullwidth" %>
  </div>
<% end %>

<div class="has-text-centered container column is-8">
  <%= render "devise/shared/links" %>
</div>