<h2 class="is-underlined has-text-white has-text-weight-bold has-text-centered is-size-3">ショップ情報</h2>
<%= form_with(model: shop, local: true, html: {class: "container has-background-white column is-10 mt-4 box box-radius"}) do |form| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "") %>件のエラーが検出されました。:</h2>

      <ul>
        <% shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field columns is-vcentered m-0">
    <%= form.label :name, class: "label column is-2 mb-0" %>
    <%= form.text_field :name, class: "input column is-10 is-fullwidth", :placeholder => "ロードバイクカフェ" %>
  </div>

  <div class="field columns is-vcentered m-0 my-1 select">
    <%= form.label :prefecture, class: "label column is-2 mb-0" %>
    <%= form.select :prefecture, Shop.prefectures.keys.to_a, {}, class: "column is-10 is-fullwidth" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= form.label :city, class: "label column is-2 mb-0" %>
    <%= form.text_field :city, class: "input column is-10", :placeholder => "渋谷区" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= form.label :address, class: "label column is-2 mb-0" %>
    <%= form.text_field :address, class: "input column is-10", :placeholder => "松濤1-1-1" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= form.label :latitude, class: "label column is-2 mb-0" %>
    <%= form.text_field :latitude, class: "input column is-10", :placeholder =>"30.000000" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= form.label :longitude, class: "label column is-2 mb-0" %>
    <%= form.text_field :longitude, class: "input column is-10", :placeholder => "135.000000" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= form.label :business_hour, class: "label column is-2 mb-0" %>
    <%= form.text_area :business_hour, class: "input column is-10", :placeholder => "年中無休" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= form.label :cashless, class: "label column checkbox is-2" %>
    <%= form.check_box :cashless, class: "column is-10" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= form.label :bike_rack, class: "label column checkbox is-2" %>
    <%= form.check_box :bike_rack, class: "column is-10" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= form.label :remarks, class: "label column is-2 mb-0" %>
    <%= form.text_area :remarks, class: "input column is-10", :placeholder => "ロードバイク乗りが集うカフェです。" %>
  </div>

  <div class="filed columns is-vcentered m-0">
    <%= form.label :genre, class: "label column is-2 mb-0" %>
    <%= form.collection_check_boxes(:genre_ids, Genre.all, :id, :name, class: "checkbox is-10") %>
  </div>
  <br />
  <div class="actions">
    <%  if @shop.persisted? %>
      <%= form.submit t("attributes.update"), class: "button is-rounded is-fullwidth is-link" %>
    <% else %>
      <%= form.submit t("attributes.create"), class: "button is-rounded is-fullwidth is-link" %>
    <% end %>
  </div>
<% end %>
