<h1>Cycle Depot</h1>
<p>Database for cyclist friendly shops</p>
<img src="#">
<p>ライド中のお店探しは<br><span>サイクルデポ</span></p>

<h2>ショップリスト</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Cashless</th>
      <th>Bike rack</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr onclick="location.href='<%= shop_path(shop.id) %>'">
        <td><%= shop.name %></td>
        <td><%= shop.prefecture %></td>
        <td><%= shop.city %></td>
        <td><%= shop.cashless %></td>
        <td><%= shop.bike_rack %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
