<h1>Cycle Depot</h1>
<p>Database for cyclist friendly shops</p>
<img src="#">
<p>ライド中のお店探しは<br><span>サイクルデポ</span></p>

<h2>ショップ検索</h2>
<%= search_form_for @q do |f| %>
  <%= f.label :name, "店名" %>
  <%= f.search_field :name_cont %>
  <%= f.label :prefecture, "都道府県" %>
  <%= f.select :prefecture_eq_any, Shop.prefectures.to_a, { include_blank: "指定なし" } %>
  <%= f.label :genres_name, "ジャンル" %>
  <%= f.collection_select :genres_id_eq, @genres, :id, :name, { include_blank: "指定なし" } %>
  <%= f.label :cashless, "キャッシュレス" %>
  <%= f.check_box :cashless_true, {}, checked_value = "true", unchecked_value= "" %>
  <%= f.label :bile_rack, "サイクルラック" %>
  <%= f.check_box :bike_rack_true, {}, ckecked_value = "true", unchecked_value = "" %>
  <br />
  <%= f.submit "検索" %>
<% end %>

<h2>ショップリスト</h2>
<div class="shop-list">
  <% @shops.each do |shop| %>
    <div class="shop-item" onclick="location.href='<%= shop_path(shop.id) %>'">
      <%= shop.name %>
      <%= shop.prefecture %>
      <%= shop.city %>
      キャッシュレス: <%= shop.cashless == true ? "対応" : "非対応" %>
      サイクルラック: <%= shop.bike_rack == true ? "有" : "無" %>
      <%= shop.favorites.count %>
      <%= shop.saved_shops.count %>
    </div>
  <% end %>
</div>
