<p>
  <strong>名前:</strong>
  <%= @shop.name %><br />
  <% @shop.genres.each do |genre| %>
    <%= genre.name %>
  <% end %>
</p>

<p>
  お気に入り数:<%= @shop.favorites.count %></td>
  保存数:<%= @shop.saved_shops.count %></td>
</p>

<p><em>ショップ情報</em></p>
<p>
  <strong>所在地:</strong>
  <%= "#{@shop.prefecture}#{@shop.city}#{@shop.address}" %>
</p>

<p>
  <strong>営業時間:</strong>
  <%= @shop.business_hour %>
</p>

<p>
  <strong>キャッシュレス:</strong>
  <%= @shop.cashless == true ? "対応" : "非対応" %>
</p>

<p>
  <strong>サイクルラック:</strong>
  <%= @shop.bike_rack == true ? "有" : "無" %>
</p>

<p>
  <strong>備考:</strong>
  <%= @shop.remarks %>
</p>

<p>
  <strong>地図:</strong>
  XXXX
</p>

<% if current_user && current_user.admin? %>
  <%= link_to '編集', edit_shop_path(@shop) %><br />
<% end %>
<%= link_to '戻る', shops_path %>
