<p>
  <strong>名前:</strong>
  <%= @shop.name %><br />
  <% @shop.genres.each do |genre| %>
    <%= genre.name %>
  <% end %>
</p>

<p>
  お気に入り数:<%= @shop.favorites.count %></td>
  保存数:<%= @shop.saved_shops.count %></td>
</p>

<p>
  <strong>所在地:</strong>
  <%= "#{@shop.prefecture}#{@shop.city}#{@shop.address}" %>
</p>

<p>
  <strong>Business hour:</strong>
  <%= @shop.business_hour %>
</p>

<p>
  <strong>Cashless:</strong>
  <% if @shop.cashless == true %>
    対応
  <% end %>
</p>

<p>
  <strong>Bike rack:</strong>
  <% if @shop.bike_rack == true %>
    有
  <% end %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @shop.remarks %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_shop_path(@shop) %><br />
<% end %>
<%= link_to 'Back', shops_path %>
