
<%= form_with(model: @user, local: true, html: { class: "container has-background-white column is-10 mt-4 box box-radius" }) do |f| %>


  <div class="field columns is-vcentered m-0">
    <%= f.label :name, class: "label column is-2 mb-0" %>
    <%= f.text_field :name, class: "input column is-10 is-fullwidth", autofocus: true, autocomplete: "name", :placeholder => "田中太郎" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= f.label :email, class: "label column is-2 mb-0" %>
    <%= f.email_field :email, class: "input column is-10 is-fullwidth", autofocus: true, autocomplete: "email", :placeholder => "taro@email.com" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= f.label :password, class: "label column is-2 mb-0" %>
    <%= f.password_field :password, class: "input column is-10 is-fullwidth", autocomplete: "new-password", :placeholder => "tanaka" %>
  </div>

  <div class="field columns is-vcentered m-0">
    <%= f.label :password_confirmation, class: "label column is-2 mb-0" %>
    <%= f.password_field :password_confirmation, class: "input column is-10 is-fullwidth", autocomplete: "new-password", :placeholder => "tanaka" %>
  </div>

  <% if current_user.admin? %>
    <div class="field columns is-vcentered m-0">
      <%= f.label :admin, class: "label column checkbox is-2 mb-0" %>
      <%= f.check_box :admin, class: "column is-10" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t("attributes.update"), class: "button is-rounded is-fullwidth is-link" %>
  </div>
<% end %>

<div class="has-text-centered container column is-8">
  <%= link_to '戻る', users_path, class: "button is-link is-rounded is-fullwidth is-light" %>
</div>