<h1>ユーザー一覧</h1>

<% User.all.each do |user| %>
  <div>
    <%= user.name  %>
    <%= "(admin)" if user.admin  %>
    <%= link_to "編集", edit_user_path(user) %>
    <%= link_to "削除", user, data: { confirm: "#{user.name}を削除してもよろしいですか？" }, method: :delete %></p>
  </div>
<% end %>

<%= paginate @users %>