<section class="hero is-small has-background-white">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="has-text-weight-bold title">ユーザー一覧</h1>
    </div>
  </div>
</section>

<div class="container has-background-white column is-10 mt-4 box box-radius">
  <table class="table is-fullwidth is-bordered">
    <% User.all.each do |user| %>
      <tbody>
        <tr class="has-text-centered">
          <td class="is-size-5"><%= user.name  %></td>
          <td class="is-size-5"><%= link_to "編集", edit_user_path(user), class: "button is-rounded is-link" %></td>
          <td class="is-size-5"><%= link_to "削除", user, data: { confirm: "#{user.name}を削除してもよろしいですか？" }, class: "button is-rounded is-danger", method: :delete %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
<div class="has-text-centered container column is-8">
  <%= link_to '戻る', root_path, class: "button is-link is-rounded is-fullwidth is-light" %>
</div>
<%= paginate @users %>