<h1>My page</h1>

<h2>登録情報</h2>
<p>
  <strong>ユーザーネーム:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <%= link_to "編集",  edit_user_registration_path %>
</p>

<h2>保存したショップ</h2>
<% @saved_shops.each do |shop| %>
  <div onclick="location.href='<%= shop_path(shop.id) %>'" >
    <%= shop.name %>
    <%= shop.prefecture %>
    <%= shop.city %>
    <%= shop.cashless %>
    <%= shop.bike_rack %>
  </div>
  <div id="favorite-<%= shop.id %>">
    <%= render partial: "./shops/favorite", remote: true, locals: { shop: shop } %>
  </div>
  <div id="saved-shop-<%= shop.id %>">
    <%= render partial: "./shops/saved_shop", remote: true, locals: { shop: shop } %>
  </div>
<% end %>
<%= paginate @saved_shops %>

<h2>最近閲覧したショップ</h2>
<% @user.browsing_histories.each do |browsing_history| %>
  <% shop = Shop.find(browsing_history.shop_id) %>
  <div onclick="location.href='<%= shop_path(shop.id) %>'" >
    <%= shop.name %>
    <%= shop.prefecture %>
    <%= shop.city %>
    <%= shop.cashless %>
    <%= shop.bike_rack %>
  </div>
  <div id="favorite-<%= shop.id %>">
    <%= render partial: "./shops/favorite", remote: true, locals: { shop: shop } %>
  </div>
  <div id="saved-shop-<%= shop.id %>">
    <%= render partial: "./shops/saved_shop", remote: true, locals: { shop: shop } %>
  </div>
<% end %>